<h1> Edit Race</h1>

<%= simple_form_for @race do |f| %>
    <%= f.input :race_name, label: 'Please enter name of race', error: 'Race name is mandtory, please enter one' %>
    <%= f.input :description, label: 'Enter description of race', as: :text, error: 'Description of race required'%>
    <%= f.input :traits, label: 'Traits here', error: 'traits mandatory'%>
    <%= f.button :submit %>
<% end %>