<h1><%= @race.race_name%></h1>
<p>Race Description: <%= @race.description%></p>
<p>Traits: <%= @race.traits%></p>
<% if !user_signed_in? %>
        <%link_to "Sign up or Sign in to view full descriptions of classes", new_user_registration_path %>
<% else %>
    <% if current_user.admin? %>
        <%= link_to "Delete Race", @race, method: "delete", data: {confirm: "WARNING! Any Character Sheets using this Race will be DELETED. Are you sure you want to delete?"} %>
        <%= link_to "Edit", edit_character_race_path %>
    <% end %>
<% end %>