<h1>My Favourites</h1>
<% @favourited.each do |fave| %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title"><%= fave.name %></h2>
            <h4> Description </h4>
            <p class="card-text"><%= truncate(fave.description, :length => 80) %></p>
            <h4> Level </h4>
            <p><%= fave.level %></p>
            <%= link_to 'View Character', character_sheet_path(fave.id), class: 'btn btn-primary'%>
        </div>
    </div>
<% end %>
<% if @favourited.length == 0 %>
    <%= link_to "View characters to add to your favourites!", character_sheets_path %>
<% end %>