<h1><%= @charclass.charclass_name%></h1>
<p>Class Description: <%= @charclass.description%></p>
<p>Desired stats: <%= @charclass.bis_stats%></p>
<% if !user_signed_in? %>
        <%link_to "Sign up or Sign in to view full descriptions of classes", new_user_registration_path %>
<% else %>
    <% if current_user.admin? %>
        <%= link_to "Delete Class", @charclass, method: "delete", data: {confirm: "WARNING! Any Character Sheets using this Class will also be DELETED. Are you sure you want to delete?"} %>
        <%= link_to "Edit", edit_character_class_path %>
    <% end %>
<% end %>