<h1>Edit <%= @sheet.name %> </h1>

<%= simple_form_for @sheet do |f| %>
    <%= f.input :name, label: 'Character name', error: 'Your character must have a name!', required: true%>

    <%= f.input :description, label: 'Enter description of character', as: :text, error: 'Description of your character is required', required: true %>

    <%= f.input :level, collection: 1..20, error: 'Level is required', required: true %>

    <%= f.input :char_race, :collection => CharacterRace.all.collect {|c| [c.race_name, c.id]}, error: 'Select a Race', required: true %>

    <%= f.input :char_class, :collection => CharacterClass.all.collect {|c| [c.charclass_name, c.id]}, error: 'Select a Class', required: true %>

    <%= f.file_field :sheetupload, direct_upload: true, accept: 'application/pdf', error: 'You must attach a pdf file.', required: false %>

    <%= f.button :submit %>
<% end %>