<h1><%= @sheet.name %></h1>
<p>Description: <%= @sheet.description%></p>
<p>Race: <%= @race_name%></p>
<p>Class: <%= @class_name%></p>
<% if !user_signed_in? %>
    <%= link_to "Sign Up to download character or leave a review", new_user_registration_path%>
<% end %>
<% if user_signed_in? %>
    <p>Character Sheet:<%= link_to "Download", @sheet.sheetupload, download: @sheet.sheetupload.filename %> </p>
    <% if (current_user.admin?) or (current_user.id == @sheet.user_id) == true %>
        <%= link_to "Delete Character", @sheet, method: "delete", data: {confirm: "Are you sure you want to delete #{@sheet.name}?"} %>
        <%= link_to "Edit", edit_character_sheet_path %>
    <% else %>
        <p> working as intended :^) </p>
    <% end %>
<% end %>