<h1><%= @sheet.name %></h1>
<p>Description: <%= @sheet.description%></p>
<p>Race: <%= @sheetrace %></p>
<p>Class: <%= @sheetclass %></p>
<p>Created by: <%= @sheet.user.username %></p>
<p>Reviews: </p>

<% @sheet.reviews.each do |r| %>
        <div>
            <h5>Rating: <%= r.rating %></h5>
            <p>Comment: <%= r.comment %></p>
            <p>Written by: <%= r.user.username %></p>
        </div>
<% end %>

<% if !user_signed_in? %>
    <%= link_to "Sign Up to download character or leave a review", new_user_registration_path%>
<% end %>
<% if user_signed_in? %>
    <%= link_to " Add a review", new_character_sheet_review_path(@sheet) %>
    <p>Character Sheet:<%= link_to "Click here!", @sheet.sheetupload, target: :_blank %> </p>
    <% if (current_user.admin?) or (current_user.id == @sheet.user_id) == true %>
        <%= link_to "Delete Character", @sheet, method: "delete", data: {confirm: "Are you sure you want to delete #{@sheet.name}?"} %>
        <%= link_to "Edit", edit_character_sheet_path %>
    <% else %>
    <% end %>
<% end %>